@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
   --main-color:#2980b9;
   --orange:#f39c12;
   --red:#e74c3c;
   --black:#444;
   --white:#fff;
   --light-color:#777;
   --light-bg:#f5f5f5;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

*::selection{
   background-color: var(--main-color);
   color:var(--white);
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background-color: var(--light-bg);
   padding-bottom: 10rem;
}

section{
   padding:2rem;
   max-width: 1200px;
   margin:0 auto;
}

.heading{
   font-size: 4rem;
   color:var(--black);
   margin-bottom: 2rem;
   text-align: center;
   text-transform: uppercase;
}

.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 3rem;
   font-size: 1.7rem;
   color:var(--white);
   cursor: pointer;
   text-align: center;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
}

.btn{
   background-color: var(--main-color);
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn{
   background-color: var(--red);
}

.flex-btn{
    display: flex;
    gap:1rem;
}

.message{
    position: sticky;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--light-bg);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    z-index: 1100;
}

.message span{
    font-size: 2rem;
    color:var(--black);
}

.message i{
    cursor: pointer;
    color:var(--red);
    font-size: 2.5rem;
}

.message i:hover{
    color:var(--black);
}

@keyframes fadeIn{
   0%{
      transform: translateY(1rem);
   }
}

.titre{
   text-align: center;
   margin-bottom: 2rem;
   text-transform: uppercase;
   color: black;
   font-size: 4rem;
}

.empty{
   padding:1.5rem;
   background-color: var(--white);
   border: var(--border);
   box-shadow: var(--box-shadow);
   text-align: center;
   color:var(--red);
   border-radius: .5rem;
   font-size: 2rem;
   text-transform: capitalize;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-container form{
   padding:2rem;
   text-align: center;
   box-shadow: var(--box-shadow);
   background-color: var(--white);
   border-radius: .5rem;
   width: 50rem;
   border:var(--border);
}

.form-container form h3{
   text-transform: uppercase;
   color:var(--black);
   margin-bottom: 1rem;
   font-size: 2.5rem;
}

.form-container form p{
   font-size: 1.8rem;
   color:var(--light-color);
   margin-bottom: 1rem;
   border-radius: .5rem;
}

.form-container form p span{
   color:var(--orange);
}


.form-container form a{
   color: var(--main-color);
}

.form-container form a:hover{
   text-decoration: underline;
}

.form-container form .box{
   width: 100%;
   margin:1rem 0;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);
}

.header{
   position: sticky;
   top: 0; left: 0; right: 0;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   z-index: 1000;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header .flex .logo{
   font-size: 2.5rem;
   color: var(--black);
}

.header .flex .logo span{
   font-size: 2.2rem;
   color: var(--orange);
}

.header .flex .navbar a{
   margin: 0 1rem;
   font-size: 1.7rem;
   color: var(--black);
}

.header .flex .navbar a:hover{
   color: var(--orange);
   text-decoration: underline;
}

.header .flex .icons > *{
   font-size: 2.5rem;
   cursor: pointer;
   color: var(--black);
   margin-left: 1.7rem;
}

.header .flex .icons > *:hover{
   color: var(--orange);
}

.header .flex .profile{
   position: absolute;
   top: 125%; right: 2rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border: var(--border);
   border-radius: .5rem;
   padding: 2rem;
   padding-top: 1rem;
   width: 35rem;
   display: none;
   animation: fadeIn .2s linear;
}

.header .flex .profile p{
   margin-bottom: 1rem;
   font-size: 2rem;
   text-align: center;
   color: var(--black);
}

.header .flex .profile p span{
   font-size: 2rem;
   text-align: center;
   color: var(--orange);
}

.header .flex .profile.active{
   display: inline-block;
}

#menu-btn{
   display: none;
}

.dashboard .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap: 1.5rem;
   align-items: flex-start;
}

.dashboard .box-container .box{
   text-align: center;
   background-color: var(--white);
   border: var(--border);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   text-align: center;
   padding: 2rem;
}

.dashboard h1{
   font-size: 4.5rem;
   color: black;
}

.dashboard .box-container .box h3{
   font-size: 2.1rem;
   color: black;
}

.dashboard .box-container .box p{
   padding: 1.5rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   font-size: 1.9rem;
   border: var(--border);
   margin: 1rem 0;
   color: var(--orange);
}

.commandes .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem 1fr);
   justify-content: center;
   gap:1.5rem;
   max-width: 1200px;
   margin:0 auto;
   align-items: flex-start;
}

.commandes .box-container .box{
   background-color: var(--blanc);
   padding: 2rem;
   width: 40rem;
   border:var(--border);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.commandes .box-container .box p{
   padding-bottom: 1rem;
   font-size: 2rem;
   color:var(--noir);
}

.commandes .box-container .box p span{
   color:var(--bleu);
}

.commandes .box-container .box form{
   text-align: center;
}

.commandes .box-container .box form select{
   border-radius: .5rem;
   margin:.5rem 0;
   width: 100%;
   background-color: var(--bg-clair);
   border:var(--border);
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--noir);
}

.users .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 1.5rem;
   max-width: 85rem;
   margin: 0 auto;
   align-items: flex-start;
}

.users .box-container .box{
   border-radius: .5rem;
   padding: 2rem;
   background-color: var(--blanc);
   box-shadow: var(--box-shadow);
   border: var(--border);
   text-align: center;
}

.users .box-container .box p{
   padding: 1.5rem;
   color: black;
   font-size: 2.2rem;
}

.users .box-container .box p span{
   color: var(--orange);
}

.accounts .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.accounts .box-container .box{
   padding:2rem;
   padding-top: .5rem;
   border-radius: .5rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}

.accounts .box-container .box p{
   font-size: 2rem;
   color:var(--black);
   margin: 1rem 0;
}

.accounts .box-container .box p span{
   color:var(--orange);
}

.add-products form{
   max-width: 50rem;
   margin: 0 auto;   
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border:var(--border);
   border-radius: .5rem;
   padding:2rem;
}

.add-products form .flex{
   /* display: flex; */
   gap: 1.5rem;
   margin-bottom: 1.5rem;
   /* flex-wrap: wrap; */
}

.add-products form .flex .inputBox{
   flex: 1 1 25rem;
   margin-bottom: 1.5rem;
} 

.add-products form .flex label.title {
   font-size: 2rem;
   color: black;
   margin-bottom: 1.8rem;
}

.add-products form .box{
   font-size: 1.8rem;
   background-color: var(--light-bg);
   border-radius: .5rem;
   padding:1.4rem;
   width: 100%;
   margin-top: 1.5rem;
}

.show-products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.show-products .box-container .box{
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   border:var(--border);
   padding:2rem;
}

.show-products .box-container .box h3{
   margin-bottom: 1rem;
   font-size: 2rem;
}

.show-products .box-container .box img{
   width: 100%;
   height: 20rem;
   object-fit: contain;
   margin-bottom: 1.5rem;
}

.show-products .box-container .box .libelle{
   font-size: 2rem;
   color:var(--black);
   margin-bottom: 1.3rem;
}

.show-products .box-container .box .description{
   font-size: 2rem;
   color:var(--black);
   margin:.5rem 0;
   margin-bottom: 1.3rem;
}

.show-products .box-container .box .categorie{
   font-size: 2rem;
   color:var(--black);
   margin-bottom: 1.3rem;
}

.show-products .box-container .box .prix{
   font-size: 2rem;
   color:var(--black);
   margin-bottom: 1.3rem;
}

.show-products .box-container .box .description span,
.show-products .box-container .box .prix span {
   color:var(--orange);
}

.update-product form{
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   border:var(--border);
   padding:2rem;
   max-width: 50rem;
   margin:0 auto;
}

.update-product form .image-container{
   margin-bottom: 2rem;
}

.update-product form .image-container .main-image img{
   height: 20rem;
   width: 100%;
   object-fit: contain;
}

.update-product form .box{
   width: 100%;
   border-radius: .5rem;
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--light-color);
   background-color: var(--light-bg);
   margin-bottom: 1.5rem;
   margin-top: 1.5rem;
}

.update-product form span{
   font-size: 1.7rem;
   color: black;
}

.contacts .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.contacts .box-container .box{
   padding:2rem;
   padding-top: 1rem;
   border-radius: .5rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}

.contacts .box-container .box p{
   line-height: 1.5;
   font-size: 2rem;
   color:var(--light-color);
   margin:1rem 0;
}

.contacts .box-container .box p span{
   color:var(--orange);
}

.orders .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.orders .box-container .box{
   padding:2rem;
   padding-top: 1rem;
   border-radius: .5rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}

.orders .box-container .box p{
   line-height: 1.5;
   font-size: 2rem;
   color:var(--black);
   margin:1rem 0;
}

.orders .box-container .box p span{
   color:var(--orange);
}

.orders .box-container .select{
   margin-bottom: .5rem;
   width: 100%;
   background-color: var(--light-bg);
   padding:1rem;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
   border:var(--border);
}

.reviews .box{
   border-radius: .5rem;
   padding: 2rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border: var(--border);
   text-align: center;
}

.reviews .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 1.5rem;
   max-width: 1200px;
   margin: 0 auto;
   align-items: flex-start;
}

.reviews .box-container div img{
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
 }

.reviews .box-container div{
   padding: 1.5rem;
   color: var(--orange);
   font-size: 1.8rem;
}

.reviews .box-container .box span{
   font-size: 2.2rem;
   color: var(--black);
}

.reviews .box-container .box .delete-btn{
   margin-top: 0;
}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .flex-btn{
    flex-flow: column;
    gap: 0;
}

}